Package: automation-interface-log
Version: RELEASE
Architecture: all
Depends: syslog-ng (>= 3.19), podman (>= 4.3)
Maintainer: LumIT A-Team, automation@lumit.it
Homepage: https://www.lumit.it
Description: Automation Interface Syslog (commit: GITCOMMIT).
